@media all and (min-width: 1140px) {
  body {
    overflow: hidden;
    height: 100%;
  }

  .nomarg {
    display: none;
  }

  .hideim {
    display: none;
  }

  .hideimenu {
    display: none !important;
  }

  #myCarouselm {
    display: none !important;
  }

  #Topa {
    display: none !important;
  }

  a.linkswq:link {
    font-size: 1.4em !important;
  }
}

@media not all and (min-width: 1140px) {
  body {
    overflow: auto;
    height: auto;
  }

  .rewup {
    display: none;
  }

  .hideim2 {
    display: none !important;
  }

  #myCarousel {
    display: none !important;
  }

  #Topm {
    display: none !important;
  }

  a.linkswq:link {
    font-size: 0.8em !important;
  }
}

@media all and (min-width: 1900px) {
  body.stpage {
    overflow: auto;
    height: auto;
  }
}

@media not all and (min-width: 1900px) {
  body.stpage {
    overflow: auto;
    height: auto;
  }
}

body.alpage {
  overflow: auto;
  height: auto;
  background-color: #28272a;
}

body.stpage {
  background-color: #28272a;
}

body.menupage {
  background-color: #28272a;
  overflow: auto;
  height: auto;
}

body.mnpage {
  background-color: #28272a;
}

body.orpage {
  background-color: #28272a;
}

.workmclick {
  cursor: pointer;
  display: block;
}

#content {
  position: relative;
}

.info {
  position: absolute;
  color: white;
  width: 180px;
  height: 360px;
  text-align: center;
  display: none;
  background-repeat: no-repeat;
}

.infoup {
  position: absolute;
  color: white;
  width: 218px;
  height: 130px;
  text-align: center;
  display: none;
  background-repeat: no-repeat;
}

.infoleft {
  position: absolute;
  color: white;
  width: 180px;
  height: 360px;
  text-align: center;
  display: none;
  background-repeat: no-repeat;
}


.containerdiv {
  border: 0;
  float: inherit;
  position: relative;
}

.hideim2 {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 83vh;
  max-width: 100%;
}

.hideim {
  padding: 0;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.hideimenu {
  padding: 0;
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.mpadin {
  padding-top: 12.5vh;
  padding-bottom: 12.5vh;
}


.spadin {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.mpadin2 {
  padding-top: 12.5vh;
  padding-bottom: 0vh;
}

.nomarg {
  margin: 0px !important;
  padding-bottom: 4px;
  font-size: 1.2em !important;
  font-weight: bold;
}

.tableFixHead {
  overflow: auto;
  height: 600px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 1px;
}

th {
  background: #eee;
}

.aboutpad {
  padding-top: 20px;
  font-size: 1.6em !important;
}

.aboutpadtxt {
  font-size: 1.1em !important;
}

.rewup {
  margin-top: 20px;
}

.bgcol {
  background-color: #fce4d6;
}

.bgcol2 {
  background-color: #d6dce4;
}

.bgcol3 {
  background-color: #fff2cc;
}

.bgcol4 {
  background-color: #c6e0b4;
}

.bgcol5 {
  background-color: #bdbdbd;
}

.bgcol6 {
  background-color: #999999;
}

.flex-fill {
  flex: 1 1 auto;
}

.tloc {
  font-size: 1.1em !important;
}

.tlocn {
  font-size: 1.1em !important;
  font-weight: bold;
}

.roshop {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*--- Navbar Styling --*/
.navbar-nav li {
  margin-right: 1.3rem;
}

/* change the background color */
.navbar-dark {
  background-color: #000000;
  padding: 0px !important;
}

/* change the brand and text color */
.navbar-darkdark .navbar-brand,
.navbar-dark .navbar-text {
  color: #f8aa02;
}

.btn-block {
  width: 100% !important;
  margin: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
}

.responsivei {
  max-width: 100%;
  width: 600px;
  height: auto;
}

.navbar-brand {
  padding: 0px !important;
  margin: 0px !important;
}

/* change the link color */
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.4em !important;
  font-weight: bold;
  color: #f8aa02;
}

a.linksw:link {
  font-size: 1em !important;
  color: #f8aa02 !important;
}

a.linksw:visited {
  color: #f8aa02 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* change the color of active or hovered links */
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
  color: #b86a02;
}

a.linksw:hover {
  color: #b86a02 !important;
}

a.linksw:active {
  color: #b86a02 !important;
}

a.linkswq:link {
  color: #fbf6e4 !important;
  font-weight: bold !important;
  text-decoration: none;
}

a.linkswq:visited {
  color: #fbf6e4 !important;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

a.linkswq:hover {
  color: #a4a095 !important;
}

a.linkswq:active {
  color: #a4a095 !important;
}

button.linkB {
    background: transparent;
    color: #b86a02;
    border: none;
    outline: 0;
    text-decoration: underline;
    font-weight: bold;
}
button.linkB:hover  {
    color: #fbf6e4;
}

button.linkB2 {
    background: transparent;
    color: #a4a095;
    border: none;
    outline: 0;
    text-decoration: underline;
    font-weight: bold;
}
button.linkB2:hover  {
    color: #fbf6e4;
}
#collection-component-1647948826243{
  visibility:hidden;
}
#collection-component-1647948963202{
  visibility:hidden;
}
#collection-component-1646766456367{
  visibility:hidden;
}
#kitMenu{
  visibility:hidden;
}
.announcement {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
  background: #b86a02;
  color: white;
  margin: 0;
  font-weight: bold;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  vertical-align: middle;
  font-size: 2em;
}
.announcement a {
  color: white;
}
.pclas{
  margin-bottom: 0;
}
.announcement a:hover {
  color: black;
}
#smicon .actions a {
  display: inline-block;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#smicon .btn-get-started {
  border: 2px solid #000000;
}

#smicon .btn-get-started:hover {
  background: none;
  border: 2px solid #b86a02;
  color: #b86a02;
  text-decoration: none;
}
